<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <div class="row">
        title placholder
      </div>
      <div class="row">
        animation container
      </div>
      <div class="row">
        word container
      </div>
    </div>
    <div class="col-sm-3">
    </div>
    <div class="col-sm-5">
      <div class="chat-container">
        Chat
        <ul id="messages">
          <li *ngFor="let msg of messages">
            {{msg}}
          </li>
        </ul>
        <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium, aliquam! Officia laborum ducimus
          laboriosam cumque! Fuga saepe ipsam illo voluptatibus magni quo facere mollitia nihil eaque praesentium
          quibusdam officia adipisci obcaecati, ut hic. Distinctio excepturi nisi vero animi doloribus sint, in odit
          pariatur exercitationem voluptatem alias commodi cupiditate praesentium suscipit aliquam. Nostrum laborum,
          ipsum animi fugiat beatae optio dolores possimus labore nulla aut? Distinctio, veniam itaque. Atque reiciendis
          perferendis, tenetur incidunt ad sunt magnam voluptatum voluptates quos quidem quibusdam architecto maiores
          nam! Autem illo rerum fuga officia inventore modi magnam iusto dolore! Molestias ipsam ea dolores expedita,
          sequi eum, voluptates culpa fuga dolore alias sapiente provident ad maxime dicta voluptate in magni
          voluptatibus eius atque consequatur perspiciatis iste ullam impedit. Earum, eaque? Itaque voluptate
          consequuntur minima accusantium voluptas doloremque repellat quos tempora at vitae explicabo impedit quidem
          cumque amet distinctio enim totam maxime, nisi, voluptatum eum dolores unde! Repellat quasi, voluptas labore
          debitis a ea soluta natus dolorem dolor asperiores hic rem, rerum sed illo doloribus veritatis atque culpa
          eveniet mollitia magnam eaque corrupti porro quam enim! Doloremque recusandae animi enim, excepturi rerum sit
          inventore cupiditate nihil veritatis omnis corrupti sed! Aut modi ipsam exercitationem cumque reprehenderit,
          mollitia illum? Quam tenetur quisquam et, dolore ut iusto architecto sint delectus possimus accusantium saepe
          perspiciatis distinctio vitae? Neque, explicabo quaerat doloremque deleniti aspernatur distinctio ipsa odit
          iusto, earum sed ea error! Error ab facilis cumque culpa deserunt aperiam libero repudiandae in similique
          numquam quas, dolorum, nihil odio nisi esse iusto eligendi. Quos accusamus, aliquam aspernatur similique sunt
          sapiente itaque omnis tempora labore cum. Reprehenderit illo voluptate ipsa itaque laudantium ipsam suscipit
          aut, corporis sunt deserunt quod incidunt similique fugit quis obcaecati ad illum repellat excepturi. Dolores
          tenetur earum reprehenderit voluptatibus dolorem soluta provident exercitationem alias culpa quos voluptas
          quod non explicabo minima nihil repellendus ratione optio, architecto deleniti. Fugit praesentium officia
          voluptate officiis esse consequuntur quod, repellat architecto! Illum, a hic distinctio sed mollitia beatae
          quos facilis assumenda blanditiis vero alias eaque numquam tempora, consectetur consequuntur possimus nulla
          asperiores veniam. Maxime culpa quaerat perferendis sunt ipsa blanditiis eum incidunt ratione dolor esse
          veritatis expedita repellendus possimus minima quibusdam sit consequuntur ducimus, laborum voluptates itaque
          soluta molestias rerum atque. Consequuntur veniam cum modi consequatur! Qui, dolores commodi debitis voluptas,
          vel saepe, fuga in similique praesentium officiis labore! Perferendis numquam dolor hic quibusdam rerum
          quisquam dicta aspernatur, eum earum. Minus dolor corrupti nisi debitis, necessitatibus dolore? Ea magnam in
          cupiditate numquam totam autem neque voluptatibus impedit iure laudantium, at repudiandae facere amet porro
          voluptate ipsum debitis consequuntur praesentium maiores sit corrupti quisquam? Dolorum dicta placeat
          perspiciatis? Recusandae, provident! Corporis provident id numquam rem ipsam obcaecati labore molestias culpa,
          excepturi error voluptatibus similique doloremque temporibus nihil dolor non? Soluta, ducimus ratione tempora
          sint aliquid consectetur repudiandae dignissimos aliquam voluptatem sunt consequuntur veritatis rerum numquam
          quisquam laborum? Sequi, ad. Commodi inventore non dolorum tempore quam cum velit qui delectus neque, ullam
          doloremque facilis quis pariatur saepe, nesciunt iste enim provident aliquid vitae modi incidunt corporis.
          Animi voluptas autem aperiam veniam laboriosam libero quasi hic nesciunt, placeat, quis est ab vel ex? Nemo,
          rerum praesentium minima nisi ut dolores atque perspiciatis culpa ipsam accusantium aliquam laudantium
          sapiente voluptas, mollitia beatae molestias nostrum fugit quisquam recusandae, laborum eos hic voluptatum
          autem. Voluptatem dicta eos reiciendis quo. Veritatis ullam rerum tempora officiis, voluptas nobis quam. Rem
          cumque voluptates vero, aperiam voluptatem illum, libero qui quis incidunt, commodi veritatis molestias quia
          accusantium fugiat alias iure placeat? Ab in provident alias consectetur, unde, ad maiores quidem eaque ex,
          quam tenetur asperiores suscipit eveniet! Iste voluptates excepturi ab minima perspiciatis possimus ullam?
        </div>
        <form (ngSubmit)="onSubmit($event)">
          <input id="m" name="enterMsg" [(ngModel)]="userMsg" /><button type="submit">Send</button>
        </form>
      </div>

    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>